.button {
    max-height:3rem;
    margin:1em;
    max-width:200px;
    border:none;
    text-align: center;
    transition-duration: 0.4s;
    padding:0.5em;
    border-radius: 0.5rem;
}

.button:hover {
    box-shadow: 0 0.5rem 0.5rem 0 rgba(0,0,0,0.24),0 0.5rem 0.5rem 0 rgba(0,0,0,0.19);
}

.header-container {
    display: flex;
    justify-content: center;
    grid-gap:1em;
    margin:1em;
}

.search-container {
    display: flex;
    padding:2em;
    margin:1em;
    grid-gap:0.5rem;
}
.search-container > input {
    border-radius: 0.5rem;
    padding: 0.5em;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
