.button {
    max-height:3rem;
    margin:1em;
    max-width:200px;
    border:none;
    text-align: center;
    transition-duration: 0.4s;
    padding:0.5em;
    border-radius: 0.5rem;
    background: rgb(var(--secondary-color));
    color:black;
    min-height: 30px;
}

.secondaryButton {
    margin:1em;
    border: 2px solid rgba(var(--primary-color));
    padding:1em;
    background-color: rgba(var(--secondary-color),0.3);
    border-radius: 0.5rem;
}

.secondaryButton:hover {
    background-color: rgba(var(--secondary-color), 0.7);
    transition: background-color 0.2s ease-in-out;
}

.pageContainer {
    display: flex;
    grid-gap:1em;
    align-items: center;
    justify-content: center;
}

.main {
    padding-top: 5em;
}

.button:hover {
    box-shadow: 0 0.5rem 0.5rem 0 rgba(0,0,0,0.24),0 0.5rem 0.5rem 0 rgba(0,0,0,0.19);
}

.header-container {
    display: flex;
    justify-content: flex-end;
    grid-gap:1em;
    background: rgba(135, 54, 170);
    margin-bottom: 2em;
    max-height: 50px;
    align-items: center;
    position: fixed;
    width: 100%;
    min-height:50px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    grid-gap:1em;
    align-items: center;
}

.container-flex {
    display: flex;
    grid-gap:1em;
    justify-content: center;
    margin-right: auto;
    max-height: 50px;
}

.profile-pic {
    max-width: 36px;
    max-height: 36px;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
}

.profileSub {
    display: flex;
    grid-gap:1em;
    align-items: center;
    margin-right:1em;
}

@keyframes openDown {
    0% {
        transform: scale(0);
        display: none;
    }
    100% {
        transform: scale(100%);
    }
}


.profile {
    position: fixed;
    align-self: flex-end;
    display:flex;
    flex-direction:column;
    margin-top:2.8em;
    padding: 1em;
    padding-bottom: 0.2em;
    background-color: rgb(var(--primary-color));
    border-radius:0.8em;
    animation: openDown 0.2s ease-in;
    transform-origin: top right;
}
.closed {
    animation: openDown reverse ease-out 0.2s forwards;
}
.hidden {
    display: none;
}

.home-button {
    justify-self: flex-start;
    align-self: flex-start;
}

.search-container {
    display: flex;
    grid-gap:0.5rem;
}
.search-container > input {
    border-radius: 0.5rem;
    padding: 0.5em;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.end {
    align-self: flex-end;
}

