

.pokemon-container {

    display: grid;
    margin: 2em;
    margin-top:2em;
    padding:1rem;
    justify-content: center;
    grid-template-areas:
                    ". fav"
                    "image image" 
                    "name index "
                    "height weight"
                    "ab ab"
                    "type type"
                    "stats stats"
                    "stats stats"
                    "stats stats" ;
    grid-gap:1em;
    border: 2px solid grey;
    border-radius: 2em;
    max-width:800px;
    justify-self: center;
    align-items: center;
}

.abilitiesContainer {
    display: flex;
    flex-wrap: wrap;
    grid-gap:1em;
}
.abilities {
    grid-area: ab;
}

.textActive {
    border: 1px solid black;
}

.type {
    grid-area: type;
}
.name {
    grid-area: name;
}
.index {
    grid-area: index;
}
.height {
    grid-area: height;
}
.weight {
    grid-area: weight;
}
.image {
    grid-area:image;
    width:100%;
    
}
.stats {
    grid-area: stats;
    width:100%;
    min-height:150px;
}

.fav {
    width: 32px;
    height: 32px;
    grid-area: fav;
    justify-self: center;
    cursor: pointer;
    background-size: 32px;
    background-image: url("../public/star.png");
}

.star {

    background-image: url("../public/star-full.png");
    animation: scaleUp 150ms ease-in-out;
}


@keyframes scaleUp {
    0% {
        transform: scale(0)
    }
    100% {
        transform: scale(100%);
    }
}

@media screen and (min-width: 600px) {
    .pokemon-container {
        grid-template-areas:
        "name index image fav"
        "height weight image ."
        "ab ab type type "
        "stats stats stats stats" ;
        max-height: 900px;
    }

    .container {
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .container > * {
        flex:50%;
    }
}

