

.pokemon-container {

    display: grid;
    margin: 2em;
    margin-top:2em;
    padding:1rem;
    justify-content: center;
    grid-template-areas:
                    "image image" 
                    "name index "
                    "height weight"
                    "ab ab"
                    "type type"
                    "stats stats"
                    "stats stats"
                    "stats stats" ;
    grid-gap:1em;
    border: 2px solid grey;
    border-radius: 2em;
    max-width:800px;
    justify-self: center;
}

.abilitiesContainer {
    display: flex;
    flex-wrap: wrap;
    grid-gap:1em;
}
.abilities {
    grid-area: ab;
}

.textActive {
    border: 1px solid black;
}

.type {
    grid-area: type;
}
.name {
    grid-area: name;
}
.index {
    grid-area: index;
}
.height {
    grid-area: height;
}
.weight {
    grid-area: weight;
}
.image {
    grid-area:image;
    
}
.stats {
    grid-area: stats;
    width:100%;
    min-height:150px;
}

@media screen and (min-width: 600px) {
    .pokemon-container {
        grid-template-areas:
        "name index image image"
        "height weight image image"
        "ab ab type type"
        "stats stats stats stats" ;
    }

    .container {
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .container > * {
        flex:50%;
    }
}

