

.pokemon-container {

    display: grid;
    margin: 2em;
    margin-top:2em;
    padding:1rem;
    justify-content: center;
    grid-template-areas:
                    ". fav"
                    "image image" 
                    "name index "
                    "height weight"
                    "ab ab"
                    "type type"
                    "stats stats"
                    "stats stats"
                    "stats stats" ;
    grid-gap:1em;
    border: 2px solid rgba(var(--primary-color), 0.1);
    border-radius: 2em;
    max-width:800px;
    justify-self: center;
    align-items: center;
    background-color: rgba(var(--secondary-color), 0.2);
}

.abilitiesContainer {
    display: flex;
    flex-wrap: wrap;
    grid-gap:1em;
}
.abilities {
    grid-area: ab;
}

.textActive {
    border: 1px solid rgba(var(--primary-color), 1);
}
.edit {
    max-height: 50px;
    margin: 0.4em;
}

.type {
    grid-area: type;
}
.name {
    grid-area: name;
}
.index {
    grid-area: index;
}
.height {
    grid-area: height;
}
.weight {
    grid-area: weight;
}
.image {
    grid-area:image;
    width:100%;
    
}
.stats {
    border-top: 2px solid rgba(var(--primary-color));
    grid-area: stats;
    width:100%;
    min-height:150px;
}

.fav {
    width: 32px;
    height: 32px;
    grid-area: fav;
    justify-self: center;
    cursor: pointer;
    background-size: 32px;
    background-image: url("../public/star.png");
}

.star {

    background-image: url("../public/star-full.png");
    animation: scaleUp 150ms ease-in-out;
}

.iconContainer {
    display: flex;
    flex-wrap: wrap;
    padding:2em;
    margin:1em;
}

.pokemonIcon {
    border: 2px solid rgba(var(--primary-color), 1);
    cursor: pointer;
    border-radius:1em;
    padding:0.5em;
    margin:0.5em;
    display: grid;

}

.iconActive {
    background-color:rgba(var(--primary-color), 0.2);

}
.pokemonIcon:hover {
    background-color:rgba(var(--primary-color), 0.2);
}
.iconText {
    border-bottom:2px solid  rgba(var(--primary-color), 1);
    font-size: 1em;
    max-width: 84px;
    justify-self: center;
}

.pokefilter {
    padding:0.5em;
    margin:2em;
    width:80%;
}
@keyframes scaleUp {
    0% {
        transform: scale(0)
    }
    100% {
        transform: scale(100%);
    }
}

@media screen and (min-width: 600px) {
    .pokemon-container {
        grid-template-areas:
        "name index image fav"
        "height weight image ."
        "ab ab type type "
        "stats stats stats stats" ;
        max-height: 900px;
    }
    .pokefilter {
        width:20%;
        padding:1em;
    }
    .pokemonIcon {
        margin:1em;
        padding:1em;

    }
    .container {
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .container > * {
        flex:50%;
    }
}

